<html>
<head>
    <title>Weather Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="weatherText">Weather Dashboard in Flask</h2>
<form class="weatherText" id="weatherForm" action="{{ url_for('render_results') }}" method="post">
    Location Zip Code: <input class="weatherText" id="weatherInput" type="text" name="zipCode"><br>
    <input class="weatherText" id="weatherSubmit" type="submit" value="Submit">
</form>
</body>
</html>