h2 {
    padding-left: 20px;
}

.weatherText {
    font-family: 'Lato', 'sans-serif';
    font-size: 24px;
}

#weatherForm {
    padding: 20px;
}

#weatherSubmit {
    color: white;
    background-color: #fa8072;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#weatherSubmit:hover {
    cursor: pointer;
}